<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/styleP.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Productos</a>
            <a href="#">Novedades</a>
        </div>
        <nav class="main-navbar">
            <div class="navbar-content">
                <div class="sidenav-container">
                    <span class="mobile-sidenav" onclick="openNav()">&#9776;</span>
                </div>
                <div class="image-container">
                    <a href="./index.html"><img src="../static/imagenes/logo.png" alt="main-logo"></a>
                </div>
                <div class="navbar-main-menu">
                    <ul class="style-ui-text">
                        <li>
                            <a href="./product.html">
                                <button class="dropbtn style-ui-text">Productos</button>
                            </a>
                        </li>
                        <li>
                            <a href="contacto.html">
                                <button class="dropbtn style-ui-text">Contactenos</button>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-main-menu">
                    <ul class="style-ui-text">
                        <li class="carrito-push">
                            <div class="carritobtn carrito-imagen ">
                                <!-- <img src="/static/imagenes/Carrito-removebg-preview.png" alt=""> -->
                                <i class="bi bi-cart3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="4vw" height="3vw" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </i>
                            </div>
                            <table class="carrito-content">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="libro-list"></tbody>
                            </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="main-section">
        <div class="categorias">
            <div class="categorias-content">
                <input type="search" placeholder="Busca tu Archivo" id="Buscador" />
                <h2>Categorias</h2>
                <ul>
                    <li>Anillos</li>
                    <li>Pulseras</li>  
                    <li>Collares</li>
                    <li>Dijes</li>
                    <li>Brazaletes</li>
                    <li>Relojes</li>       
                </ul>
            </div>
        </div>
        <div class="section-products">
            <div class="Productoss">
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/anillo1.png" alt="anillo-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Anillo de Plata</p>
                                <p>$200</p>
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/pulsera1.png" alt="pulsera-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Pulsera de Plata con Diamantes</p>
                                <p>$150</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/collar1.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Collar de plata con Esmeralda</p>
                                <p>$65.00</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/collar2.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Collar de Oro en Forma de Corazon</p>
                                <p>$220</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/reloj1.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Reloj Rolex Oro en Color Azul</p>
                                <p>$800</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/anillo2.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Anillo de Oro con Diamante Incrustado</p>
                                <p>$59.99</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/reloj2.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Reloj Rolex Oro en Color Negro</p>
                                <p>$200</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/collar3.png" alt="collar-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Cadena de Plata con diamantes</p>
                                <p>$210</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/brazalete1.png" alt="pulsera-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Brazalete de Oro</p>
                                <p>$17.00</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/anillo3.png" alt="anillo">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Anillo de Oro con diamantes Incrustados</p>
                                <p>$500</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/pulsera2.png" alt="pulsera-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Pulsera de Oro</p>
                                <p>$350</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                        <div class="cont-img">
                            <img src="../static/imagenes/dije1.png" alt="pulsera-oro">
                        </div>
                        <div class="card-conteiner">
                            <div class="cont-text">
                                <p>Dije de Cruz en Plata y Oro</p>
                                <p>$70</p> 
                            </div>
                            <div class="button-container-1">
                                <span class="mas">Añadir al carrito</span>
                                <button id='work' type="button" name="Hover">Añadir al carrito</button>
                            </div>
                        </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/anillo4.png" alt="anillo">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Anillo de Plata con Zafiro con Diamantes</p>
                            <p>$27.00</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/reloj4.png" alt="collar">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Reloj hindenberg Oro color Negro</p>
                            <p>$27.00</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/brazalete2.png" alt="brazalete">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Brazalete de Plata</p>
                            <p>$27.00</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/dije2.png" alt="pulsera-oro">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Dije de Oro en Forma de Flor</p>
                            <p>$50</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/brazalete3.png" alt="pulsera-oro">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Brazalete de Oro Tejido</p>
                            <p>$27.00</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
                <div class="conteiner-productss">
                    <div class="cont-img">
                        <img src="../static/imagenes/reloj3.png " alt="pulsera-oro">
                    </div>
                    <div class="card-conteiner">
                        <div class="cont-text">
                            <p>Huelot Geneve Oro Rosa</p>
                            <p>$27.00</p> 
                        </div>
                        <div class="button-container-1">
                            <span class="mas">Añadir al carrito</span>
                            <button id='work' type="button" name="Hover">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="footer-logo">
            <img src="../static/imagenes/logo.png" alt="logo">
        </div>
        <div class="footer-conteiner-text">
            <div class="content-text">
                <div class="text-one">
                    <h3>
                        Atencion al cliente
                    </h3>
                    <div class="text-info-one">
                        <p>
                            -Hora de atencion 8:00 AM a 6 PM <br>
                            -Envios
                        </p>
                    </div>
                </div>
                <div class="text-two">
                    <h3>
                        Sobre nosotros
                    </h3>
                    <div class="text-info-two">
                        <p>
                            -Historia <br>
                            -Cultura coorporativa
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-info">
            <div class="info-direction">
                <img src="../static/imagenes/Direcc (2).png" alt="direccion">
                <p>Calle XX Numero XX-XX</p>
            </div>
            <div class="info-networks">
                <div class="networks-one">
                    <a href="https://www.instagram.com/" target="_blank"><img src="../static/imagenes/instagram.png" alt="instagram"></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../static/imagenes/facebook-removebg-preview.png" alt="facebook"></a>
                </div>
                <div class="networks-two">
                    <a href="https://twitter.com/" target="_blank"><img src="../static/imagenes/twitter-removebg-preview.png" alt="twitter"></a>
                    <a href="https://www.whatsapp.com/?lang=es" target="_blank"><img src="../static/imagenes/WhatsApp.png" alt="whatsapp"></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>
</html>